body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Ajusta la altura según tus necesidades */
    margin: 0;
    /* Elimina los márgenes predeterminados */
    padding: 0;
    /* Elimina el relleno predeterminado */
}

.content {
    background-color: #CF4647;
    width: 318px;
    height: auto;
    border-radius: 7px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.Titulo {
    margin: 1em;
    text-align: center;
    color: #000000;
}

.datos {
    margin-bottom: 1em;
}

.contenido {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

label {
    color: #F1F1F1;
    padding-left: 15px;
}

input {
    width: 15em;
    height: 35px;
    border-radius: 5px;
    margin-left: 1em;
    border: solid white;
}

input:hover {
    color: black;
    transition: .6s all;
    transform: scale(1.1);
    cursor: pointer;
    border-color: #3990ff;
}

.Cajaboton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
}

.boton1 {
    background-color: transparent;
    color: white;
    border-color: white;
    border: solid;
    width: 240px;
    height: 55px;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
}

.boton1:hover {
    background-color: white;
    color: black;
    border-color: white;
}

.done {
    text-decoration: line-through;
    color: red;
}

.btn {
    margin-bottom: 10px;
    /* Espacio inferior entre botones */
    margin-right: 10px;
    /* Espacio a la derecha */
}