<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='home.css')}}">
    <title>Vista del Usuario</title>
    <!-- Usa una única versión de Bootstrap y FontAwesome -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="sidebar">

        <div class="hamburger">
            <i class="fas fa-bars fa-2x" id="sidebarCollapse"></i>
        </div>

        <div class="accordion" id="accordionUsuario">
            <div class="card" style="background-color: transparent; margin-bottom: 10px;">
                <div class="card-header" style="background-color: transparent; margin-bottom: 10px;" id="headingUsuario">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseUsuario" aria-controls="collapseUsuario" style="color:white;">
                                Usuario
                            </button>
                    </h5>
                </div>
                <div id="collapseUsuario" class="collapse" aria-labelledby="headingUsuario" data-parent="#accordionUsuario">
                    <div class="card-body">
                        <button class="btn btn-primary" style="margin:10px;">Modificar datos personales</button>
                        <button class="btn btn-danger">Eliminar mi cuenta</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Acordeón de Inscripciones -->
        <div class="accordion mt-3" id="accordionInscripciones">
            <div class="card" style="background-color: transparent; margin-bottom: 10px;">
                <div class="card-header" style="background-color: transparent; margin-bottom: 10px;" id="headingInscripciones">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseInscripciones" aria-expanded="true" aria-controls="collapseInscripciones" style="color: white;">
                                Inscripciones
                            </button>
                    </h5>
                </div>
                <div id="collapseInscripciones" class="collapse" aria-labelledby="headingInscripciones" data-parent="#accordionInscripciones">
                    <div class="card-body">
                        <a href="{{ url_for('step_iu') }}" class="btn btn-info" style="margin:10px;">Realizar inscripción</a>
                        <a href="{{ url_for('personas_inscritas') }}" class="btn btn-info" style="margin:10px;">Ver mis clases programadas</a>
                    </div>
                    <div class="card-body">
                        <a href="{{ url_for('visualizar_mi') }}" class="btn btn-info">Inscribir mis clases</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Acordeón de Métodos de Pago -->
        <div class="accordion mt-3" id="accordionMetodosPago">
            <div class="card" style="background-color: transparent; margin-bottom: 10px;">
                <div class="card-header" style="background-color: transparent; margin-bottom: 10px;" id="headingMetodosPago">
                    <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseMetodosPago" aria-expanded="true" aria-controls="collapseMetodosPago" style="color: white;">
                                Métodos de Pago
                            </button>
                    </h5>
                </div>
                <div id="collapseMetodosPago" class="collapse" aria-labelledby="headingMetodosPago" data-parent="#accordionMetodosPago">
                    <div class="card-body">
                        <button class="btn btn-info">Ver métodos de pago</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Acordeón de Usuario -->

    <div id="carrusel-container" style="margin-left: 25%; margin-top: 2%; width: 70%;">
        <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <img src="{{ url_for('static', filename='images/Natacion2.jpg') }}" alt="Imagen1">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>First slide label</h5>
                        <p>Some representative placeholder content for the first slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="{{ url_for('static', filename='images/Natacion3.jpg') }}" alt="Imagen2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Second slide label</h5>
                        <p>Some representative placeholder content for the second slide.</p>
                    </div>
                </div>
                <div class="carousel-item" data-bs-interval="10000">
                    <img src="{{ url_for('static', filename='images/Natacion1.jpg') }}" alt="Imagen3">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>Third slide label</h5>
                        <p>Some representative placeholder content for the third slide.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
        </div>
    </div>

    <div id="mobileImages">
        <img src="{{ url_for('static', filename='images/Natacion2.jpg') }}" class="img-fluid mb-3" alt="Imagen1">
        <img src="{{ url_for('static', filename='images/Natacion3.jpg') }}" class="img-fluid mb-3" alt="imagen">
        <img src="{{ url_for('static', filename='images/Natacion1.jpg') }}" class="img-fluid mb-3" alt="imagen">
      </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sidebar = document.querySelector(".sidebar");
            const toggleButton = document.getElementById("sidebarCollapse");

            toggleButton.addEventListener("click", function () {
                console.log("Hamburguesa clickeada"); // Mensaje de prueba
                sidebar.classList.toggle("active");
            });
        });
    </script>
      
</body>
</html>